:root {
  --ifm-color-primary: #059669;
  --ifm-color-primary-dark: #047857;
  --ifm-color-primary-darker: #04705f;
  --ifm-color-primary-darkest: #065f46;
  --ifm-color-primary-light: #10b981;
  --ifm-color-primary-lighter: #34d399;
  --ifm-color-primary-lightest: #6ee7b7;
  --ifm-code-font-size: 92%;
}

[data-theme='dark'] {
  --ifm-color-primary: #34d399;
  --ifm-background-color: #09090b;
  --ifm-background-surface-color: #18181b;
}

.navbar__logo img { border-radius: 0.4rem; }
.theme-doc-markdown h1 { letter-spacing: -0.035em; }
